body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #d71e28;
  border-bottom: 4px solid #fcc60a;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 15px 26px 14px 0px;
  text-decoration: none;
  font-size: 14px;
}

.topnav img {
  float: left;
  padding: 14px 16px;
}

.topnav span {
  float: left;
  color: #fcc60a;
  text-align: center;
  padding: 14px 16px 14px 0px;
  text-decoration: none;
  font-size: 17px;
}

/* .topnav i {
  float: right;
  color: #fcc60a;
  text-align: center;
  padding: 16px 5px;
  text-decoration: none;
  font-size: 14px;
} */

.topnav button {
  float: right;
  color: white;
  text-align: center;
  padding: 15px 26px 1px 0px;
  text-decoration: none;
  font-size: 14px;
}

/* .topnav button:hover {
  text-decoration: underline;
  text-decoration-color: #fcc60a;
} */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fcc60a;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 83%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fcc60a;
  /* transform-origin: bottom right; */
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  /* transform-origin: bottom left; */
}

.customBold {
  color: #cd1409 !important;
  text-align: none !important;
  text-align: center;
  padding: 5px;
  background: #ddd;
  font-size:14px;
  border: 1px dashed #666;
}

/* .App {
  padding-top: 5px;
} */

body {
  background-color: #fffcfc;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");

}

h2 {
  color: #cd1409;
  margin-bottom: 5px;
  text-align: center;
}
h3 {
  color: #333;
  margin-bottom: 15px;
  background:#ddd;
  font-size:16px;
  padding:5px 10px;
  text-align: center;
}

table {
  border-radius: 5px;
}

.styled-table {
  border-collapse: collapse;
  margin: 20px 0 30px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.styled-table th {
  color: #cd1409;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: left;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #d71e28;
}

.styled-table tbody tr:nth-of-type(odd) {
  border-bottom: 2px solid #d71e28;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.styled-table tbody tr:nth-last-of-type(3) {
  border-bottom: none !important;
}

.styled-table tbody tr:nth-last-of-type(2) {
  border-bottom: 2px solid #d71e28;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f4f0ed;
  color: black;
  height: 50px;
  border-top: 1px solid #b5adad;
}

.footer p {
  float: right;
  font-size: 10px;
  padding-right: 26px;
  font-weight: 600;
  color: #3b3331;
}

.footer img {
  width: 92px;
  height: 46px;
  padding-left: 26px;
  float: left;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.App b {
  color: #000;
  text-align: none !important;
  text-align: center;
  padding: 5px;
  background: #ddd;
  border: 1px dashed #666;
  /* margin-left: 10px; */
}

.button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #cd1409;
  border: none;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.875rem;
  border-radius: 2px;
}