.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f4f0ed;
    color: black;
    height: 50px;
    border-top: 1px solid #b5adad;
}

.footer p {
    float: right;
    font-size: 10px;
    padding-right: 26px;
    font-weight: 600;
    color: #3b3331;
}

.footer img {
    width: 92px;
    height: 46px;
    padding-left: 26px;
    float: left;
}